<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active"
       [routerLink]="['/clients']"
       [routerLinkActiveOptions]="{ exact: true }"
    >
      Clients
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/spa']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      SPA
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/front-end']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Front End
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/back-end']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Back End
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/contact']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Contact
    </a>
  </li>
</ul>
